body {
    font-family: Calibri, Helvetica, "Droid Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Georgia, "Droid Serif", "DejaVu Serif", serif;
}
#topbar {
    text-align: right;
    background: url(logo.gif) no-repeat;
    height: 60px;
    padding-top: 20px;
    color: #999;
}
#message {
    margin: 0.5em;
    border: 2px solid #700;
    padding: 0.5em;
}
a, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
form > table {
    border-collapse: collapse;
}
form > table td {
    border: 1px solid #999;
    padding: 0.5em;
}
#breadcrumbs {
    font-size: 0.8em;
    margin: 0.7em 0 2em 2em;
    color: #999;
}
#breadcrumbs a, #breadcrumbs a:visited {
    color: #669;
}
form .errors {
    color: #900;
}
#topbar li {
    list-style: none;
    display: inline;
    padding-left: 0.5em;
}
nav#maptoc, nav#archive {
    display: table-cell;
    width: 200px;
    padding-right: 10px;
    background-color: #eee;
}
nav#maptoc ul, nav#archive ul {
    padding-left: 20px;
    margin: 0;
}
article {
    max-width: 800px;
}
nav#maptoc li, nav#archive li {
    margin: 0.5em 0 0 0;
}
article#mapcontent, article#blogpost {
    display: table-cell;
    padding-left: 30px;
}

/* make things look nice on a mobile */
@media (max-width: 600px) {
    nav#archive, nav#maptoc {
        display: none;
    }
    article#mapcontent, article#blogpost {
        display: block;
        padding-left: 0;
    }
    #topbar div, .home #topbar div {
        display: none;
    }
    #topbar {
        padding-top: 60px;
    }
}

aside {
    margin: 0.5em;
    padding: 0.5em;
    background: #eee;
}
div.result {
    margin: 0.5em;
    max-width: 700px;
}
span.match {
    background-color: yellow;
}
div.excerpt {
    font-size: 0.9em;
    font-style: italic;
    color: #030;
}
.editlink {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 0.5em;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 0.4em;
    border: 1px solid #999;
}
thead {
    font-weight: bold;
    background-color: #ccc;
}
caption {
    font-weight: bold;
    font-size: 1.2em;
}
