body {
    font-family: Calibri, Helvetica, "Droid Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Georgia, "Droid Serif", "DejaVu Serif", serif;
}
#logo a {
    background: url(logo.png) no-repeat;
    display: block;
    height: 80px;
    width: 450px;
    float: left;
}
#logo a span {
    display: none;
}
.home #topbar #logo {
    display: none;
}
#topbar {
    text-align: right;
    color: #999;
}
#login, #topbar ul {
    float: right;
    margin: 0 1em;
    padding-left: 0;
}
.home #topbar ul {
    float: none;
}
#login p {
    margin: 0;
}
#breadcrumbs {
    clear: both;
}
#message {
    margin: 0.5em;
    border: 2px solid #700;
    padding: 0.5em;
}
a, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
form > table {
    border-collapse: collapse;
}
form > table td {
    border: 1px solid #999;
    padding: 0.5em;
}
#breadcrumbs {
    font-size: 0.8em;
    margin: 0.7em 0 2em 2em;
    color: #999;
}
#breadcrumbs a, #breadcrumbs a:visited {
    color: #669;
}
form .errors {
    color: #900;
}
#topbar li {
    list-style: none;
    display: inline-block;
    padding-left: 0.5em;
}
#topbar p {
    margin: 0;
}
nav#maptoc, nav#archive {
    display: table-cell;
    width: 200px;
    padding-right: 10px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: #999 2px 2px;
}
nav#maptoc ul, nav#archive ul {
    padding-left: 20px;
    margin: 0;
}
article {
    max-width: 800px;
}
nav#maptoc li, nav#archive li {
    margin: 0.5em 0 0 0;
}
article#mapcontent, article#blogpost {
    display: table-cell;
    padding-left: 30px;
}

/* make things look nice on a mobile */
@media (max-width: 600px) {
    nav#archive, nav#maptoc {
        display: none;
    }
    article#mapcontent, article#blogpost {
        display: block;
        padding-left: 0;
    }
    #topbar #login, .home #topbar #login{
        display: none;
    }
}

aside {
    margin: 0.5em;
    padding: 0.5em;
    background: #eee;
}
div.result {
    margin: 0.5em;
    max-width: 700px;
}
span.match {
    background-color: yellow;
}
div.excerpt {
    font-size: 0.9em;
    font-style: italic;
    color: #030;
}
.editlink {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 0.5em;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 0.4em;
    border: 1px solid #999;
}
thead {
    font-weight: bold;
    background-color: #ccc;
}
caption {
    font-weight: bold;
    font-size: 1.2em;
}

/* collapsible toc */
nav li.current > a, nav li.current > a:visited, nav li.current > a:hover {
    cursor: default;
    color: #900;
    text-decoration: none;
}

nav.collapse ul {
    margin: 0;
}

/* homepage */
.home #topbar {
    padding: 0 1em;
    font-size: 0.9em;
    background: #333;
    height: auto;
}

#topbar, .home #topbar a, .home #topbar a:visited {
    color: #ccc;
}

.home #topbar div, .home #topbar ul {
    display: inline-block;
    margin: 5px 0;
    padding-left: 10px;
}
body.home {
    margin: 0;
    background-color: #E5EEF9;
}
.home #breadcrumbs {
    background: #bbd7f9 url(header.png) no-repeat center top;
    height: 211px;
    text-indent: -5000px;
    margin: 0;
}
@media (max-width: 500px) {
    .home #breadcrumbs {
        height: 150px;
    }
    .home article {
        padding-left: 5px;
    }
}
.home article {
    max-width: 900px;
    margin: 0 auto;
}

.home section {
    font-size: 1.2em;
}
.home h2 {
    font-weight: normal;
    text-shadow: #A3B5BA 3px 3px 5px;
}

@media (min-width: 600px) {
    .home section {
        display: table-row;
        font-size: 1.2em;
    }
    .home section > * {
        display: table-cell;
    }
    .home h2 {
        text-align: right;
        padding-right: 1.5em;
        width: 30%;
    }
}

p {
    line-height: 1.4em;
}

aside#announcement {
    margin: 0;
    background: #353948;
    color: #B84848;
}
aside#announcement a, aside#announcement a:visited {
    color: #B84848;
    text-decoration: underline;
    font-weight: bold;
}
aside#announcement span.date {
    font-style: italic;
    font-size: 0.8em;
}

pre.codeblock {
    background-color: #F6F6F6;
    overflow:auto;
    padding: 1em;
    border:#CCC solid 1px;
    box-shadow: 0 0 8px #888 inset;
    font-size: 0.9em;
    line-height: 1.4em;
}
nav.toc > ul > li {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    font-weight: bold;
}
nav.toc > ul > li > ul {
    padding-left: 0;
    font-weight: normal;
}

/* contributors */
.contributor {
    margin: 2em auto;
    font-size: 1.2em;
    border: 1px solid black;
    padding: 1em;
    background-color: #eee;
    max-width: 650px;
}

.contributor > a {
    width: 180px;
}

.dummy {
    height: 160px;
}

.contributor > a, .contributor > div {
    display: table-cell;
    padding-right: 1em;
    vertical-align: top;
}

.contributor > a > span {
    display: block;
}

p.author img {
    padding-right: 1em;
}
p.author {
    font-weight: bold;
    text-shadow: #ccc 2px 2px;
}

/* syntax highlighting */
/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode span.kw { color: #007020; font-weight: bold; } 
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; font-weight: bold; }
